In [46]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [47]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [48]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [49]:
#Setting path to the database file
database_path = "Resources/hawaii.sqlite"

In [50]:
# create engine to hawaii.sqlite
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

# engine = create_engine("sqlite:///hawaii.sqlite")
# conn = engine.connect()

In [51]:
#This only works with the name of the tables..NOT the file!
hawaii_df = pd.read_sql("SELECT * FROM station", conn)
hawaii_df.head()

,id,station,name,latitude,longitude,elevation
0,1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,2,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,3,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,4,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,5,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [52]:
measure_df = pd.read_sql("SELECT * FROM measurement", conn)
measure_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [53]:
# reflect an existing database into a new model
Base = automap_base()


# reflect the tables

Base.prepare(engine, reflect = True)

In [54]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [55]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [56]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [57]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c986a03460>,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397',
 'tobs': 65.0}

In [58]:
for row in session.query(Measurement, Measurement.date).limit(5).all():
    print(row)

(<sqlalchemy.ext.automap.measurement object at 0x000001C986A03490>, '2010-01-01')
(<sqlalchemy.ext.automap.measurement object at 0x000001C986ACC520>, '2010-01-02')
(<sqlalchemy.ext.automap.measurement object at 0x000001C986A03940>, '2010-01-03')
(<sqlalchemy.ext.automap.measurement object at 0x000001C986A039D0>, '2010-01-04')
(<sqlalchemy.ext.automap.measurement object at 0x000001C986A03A30>, '2010-01-06')

In [59]:
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1c986a03f10>,
 'longitude': -157.8168,
 'latitude': 21.2716,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1,
 'elevation': 3.0,
 'station': 'USC00519397'}

In [60]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [61]:
columns = inspector.get_columns('Measurement')
for column in columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

# Exploratory Precipitation Analysis

In [62]:
# Find the most recent date in the data set.

#I can't believe this works, as this is a text column...
engine.execute('SELECT MAX(date) FROM Measurement').fetchall()

[('2017-08-23',)]

In [83]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.


# Calculate the date one year from the last date in data set.
last_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)

print("Query Date: ", last_year)

precip = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= last_year).all()
precip

# Save the query results as a Pandas DataFrame and set the index to the date column
precip_df = pd.DataFrame(precip)
reset_precip_df = precip_df.set_index('date')

# Sort the dataframe by date
sorted_precip_df = reset_precip_df.sort_values(by= 'date', ascending = False, inplace=False)
sorted_precip_df

# Use Pandas Plotting with Matplotlib to plot the data

Query Date:  2016-08-23

            prcp
date
2017-08-23  0.45
2017-08-23  0.08
2017-08-23  0.00
2017-08-23  0.00
2017-08-22  0.00
...          ...
2016-08-23  0.15
2016-08-23  0.70
2016-08-23  0.02
2016-08-23   NaN
2016-08-23  0.00

[2230 rows x 1 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()