In [1]:
import pandas as pd
from datetime import datetime as dt

In [14]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

## Bonus Challenge Assignment: Temperature Analysis I

In [15]:
# Convert the date column format from string to datetime
# dt.strptime(df['date'], '%Y-%m-%d')

# pd.to_datetime(df['date'], format='%Y-%m-%d')

df['date'] = df[['date']].apply(pd.to_datetime)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [45]:
# Set the date column as the DataFrame index
reset_df = df.set_index('date')

In [46]:
# Drop the date column - what was the point of this??
drop_df = reset_df.reset_index(drop = True)
drop_df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [47]:
from scipy import stats

In [48]:
# Filter data for desired months
#Filter for June (date column is the index)
june_df = reset_df[reset_df.index.month == 6]

#Filter for Dec(date column is the index)
dec_df = reset_df[reset_df.index.month == 12]

In [49]:
# Identify the average temperature for June
june_df['tobs'].mean()

74.94411764705882

In [50]:
# Identify the average temperature for December
dec_df['tobs'].mean()

71.04152933421226

In [42]:
# Create collections of temperature data

In [56]:
from random import sample
june_df.info()
dec_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1700 entries, 2010-06-01 to 2017-06-30
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  1700 non-null   object
 1   prcp     1574 non-null   float64
 2   tobs     1700 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 53.1+ KB
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1517 entries, 2010-12-01 to 2016-12-31
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  1517 non-null   object
 1   prcp     1405 non-null   float64
 2   tobs     1517 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 47.4+ KB

In [66]:
# june_tob_ls = sample(june_df['tobs'].tolist(), 1517)
# dec_tob_ls = dec_df['tobs'].tolist()

In [67]:
june_sample_df = june_df.sample(1517)
june_sample_df

                station  prcp  tobs
date
2013-06-22  USC00513117  0.27    75
2012-06-22  USC00519281  0.03    72
2013-06-10  USC00517948  0.00    77
2016-06-12  USC00516128  0.55    75
2011-06-14  USC00519523  0.00    76
...                 ...   ...   ...
2015-06-18  USC00514830  0.04    79
2010-06-13  USC00513117  0.01    76
2010-06-16  USC00519523  0.00    76
2010-06-09  USC00517948  0.00    79
2013-06-15  USC00513117  0.01    74

[1517 rows x 3 columns]

In [69]:
# Run paired t-test
# stats.ttest_rel(june_tob_ls, dec_tob_ls)
stats.ttest_rel(june_sample_df['tobs'], dec_df['tobs'])

Ttest_relResult(statistic=30.861167031503925, pvalue=1.0847432710309263e-162)

### Analysis