In [1]:
import pandas as pd
from datetime import datetime as dt

In [14]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

## Bonus Challenge Assignment: Temperature Analysis I

In [15]:
# Convert the date column format from string to datetime
# dt.strptime(df['date'], '%Y-%m-%d')

# pd.to_datetime(df['date'], format='%Y-%m-%d')

df['date'] = df[['date']].apply(pd.to_datetime)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [45]:
# Set the date column as the DataFrame index
reset_df = df.set_index('date')

In [46]:
# Drop the date column - what was the point of this??
drop_df = reset_df.reset_index(drop = True)
drop_df

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [47]:
from scipy import stats

In [48]:
# Filter data for desired months
#Filter for June (date column is the index)
june_df = reset_df[reset_df.index.month == 6]

#Filter for Dec(date column is the index)
dec_df = reset_df[reset_df.index.month == 12]

In [49]:
# Identify the average temperature for June
june_df['tobs'].mean()

74.94411764705882

In [50]:
# Identify the average temperature for December
dec_df['tobs'].mean()

71.04152933421226

In [42]:
# Create collections of temperature data

In [43]:
# Run paired t-test
stats.ttest_rel(june_df['tobs'], dec_df['tobs'])

ValueError: unequal length arrays

### Analysis